body {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#draggable-outer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: transparent;
}

#draggable_top {
    top: 0px;
    left: 5%;
    height: 5%;
    width: 90%;
    margin: 0 auto;
    position: absolute;
}

#draggable_left {
    left: 0px;
    width: 5%;
    height: 100%;
    position: absolute;
}

#draggable_right {
    width: 5%;
    right: 0px;
    height: 100%;
    position: absolute;
}

#draggable_bottom {
    left: 5%;
    height: 5%;
    width: 90%;
    margin: 0 auto;
    bottom: 0px;
    position: absolute;
}

#outer-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#panels {
    position: relative;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row-reverse;
    width: 100%;
    background-color: dodgerblue;
    flex: 0 1 auto;
}

.non_draggable {
    z-index: 1;
    -webkit-app-region: no-drag;
}

.draggable {
    z-index: 8;
    -webkit-app-region: drag;
}

#function_panels {
    position: relative;
    height:auto;
}

#outer_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#function_panels {
    display: flex;
    -webkit-flex-direction: row;
    flex: 1 1 auto;
}

#control_manage_panel{
    width: 40%;
    display:flex;
    flex-flow:column;
}

#create_options {
    height: 100%;
    width: 100%;
}

#load_options {
    height: 100%;
    width: 100%;
}

#detail_input_panel {
    width: 100%;
}

.Option_Panels{
}

#existing_deck {
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-flow: column;
}

.selectable_Deck {
    height: 30px;
    padding-left:5%;
    padding-right:5%;
    width: 90%;
    z-index: 3;
    display: flex;
    flex-flow: row;
    font-size: 20px;
}

#existing_deck_label {
    padding: 3%;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.selectable_Deck:hover {
    background-color: lightgrey;
}

.highlight {
    background-color: darkgray;
    z-index: 3;
}

.deckName {
    height: 100%;
    width: 80%;
    vertical-align: middle;
}

.deck_Delete_Button {
    background-color:white;
    width:10%;
    border:none;
    z-index: 6;
}

.deck_Delete_Button:hover {
    background-color: red;
}

.deck_Delete_Button:hover i{
    color:white;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.center .inputbox {
    position: relative;
    width: 100%;
    height: 30%;
    margin-bottom: 50px;
    display:flex;
    flex-flow:column;
}

.center .inputbox input {
    position: absolute;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox [type="button"] {
    position: absolute;
    top: 40%;
    height: 30%;
    width: 50%;
    left: 50%;
    right: 0px;
    bottom: 0px;
    background: dodgerblue;
    color: #fff;
    border: none;
}

.center .inputbox [type="button"]:hover {
    background-color: royalblue;
}

.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}